.second-fotter {
  width: 100%;
  min-width: 800px;
  height: 200px;
  background-color: #00000065;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-fotter-logo {
  width: 185px;
  height: 49px;
  color: #1d1d1de0;
  font-size: 50px;
}